header {
	.logo {
		float: left;
		display: inline-block;
		margin: 20px 0;
		@media screen and (max-width: 640px) {
			float: none;
		}
		&:hover {
			text-decoration: none;
		}
		img {
			height: auto;
		}
		div {
			text-align: center;
			color: $black;
			font-size: 22px;
		}
	}
	.toggle-menu {
		float: right;
		margin-top: 50px;
		display: none;
		font-size: 22px;
		line-height: 40px;
		color: $blue;
		@media screen and (max-width: 640px) {
			display: block;
		}
		 
		.lines-button {
		  display: inline-block;
		  padding: $button-size/2 $button-size/4;
		  transition: .3s;
		  cursor: pointer;
		  user-select: none;
		 
		  &:hover {
		    opacity: 1;
		  }
		 
		  &:active {
		    transition: 0;
		    background: rgba(0,0,0,.1);
		  }
		}

		.lines {
		  @include line;
		  position: relative; 
		  display: block;
		  margin-bottom: 10px;

		  &:before, 
		  &:after {
		   
		   @include line;
		    position: absolute;
		    left:0;
		    content: '';
		    transform-origin: $button-size/14 center;
		  }
		  &:before { top: $button-size/4; }
		  &:after { top: -$button-size/4; }
		}
	}
	nav.menu {
		line-height: 100px;
		display: block;
		float: right;
		padding: 20px 0;
		@media screen and (max-width: 640px) {
			float: none;
			line-height: 0;
			display: none;
			width: 100%;
		}
		li {
			display: inline;
			line-height: 1.5;
			margin-right: 20px;
			@media screen and (max-width: 640px) {
				display: block;
				margin-right: 0;
				text-align: center;
				border-top: 2px solid $light-gray;
			}
			&:last-child {
				margin-right: 0;
			}
		}
		a.menu-item {
			color: $black;
			font-size: 16px;

			@media screen and (max-width: 640px) {
				display: block;
				padding: 15px 0;
			}

			&:hover,
			&:focus,
			&.active{
				text-decoration: none;
				border-bottom: 4px solid $blue;
				@media screen and (max-width: 640px) {
					border: none;
					background-color: $blue;
					color: white;
					text-decoration: underline;
				}
			}
		}
	}
}

