header {
	.logo {
		img {
			width: 100%;
			height: auto;
		}
		div {
			text-align: center;
			color: $black;
			font-size: 32px;
		}
	}
	nav.menu {
		text-align: right;
		padding: 20px 0;
		line-height: 100px;
		a.menu-item {
			color: $black;
			font-size: 16px;
			line-height: 1.5;
			margin-right: 20px;

			&:hover,
			&:focus,
			&.active{
				text-decoration: none;
				border-bottom: 4px solid $blue;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

