.submenu {
	border: 2px solid $light-gray;
	margin-bottom: 20px;
	ul {
		li {
			position: relative;
			
			border-bottom: 2px solid $light-gray;

			&:last-child {
				border-bottom: none;
			}

			a {
				color: $black;
				padding: 15px;
				display: block;
				background: $white;

				&:hover {
						background: $blue;
						color: $white;
				}

				&.active {
					border-left: 5px solid $blue;
					padding-left: 10px;

					&:hover {
						background: $white;
						color: $black;
					}

					
				}
				&.has-sub {
					width: 100%;
					display: inline-block;
				}

				.third-menu {
					display: block;
				}
			}
			.expand {
				display: inline-block;
				position: absolute;
				padding: 15px;
				top:0;
				right:0;
				cursor: pointer;

				&:hover {
					background: lighten($blue, 30%);
				}

				&.open {
					img {
						@include transform(rotate(180deg));
					}
				}

				img {
					width: 15px;
					height: auto;
					vertical-align: baseline;
				}
			}

			//thirdmenu styling
			ul.thirdmenu {
				display: none;
				
				li {
					
					border-bottom: 2px solid $light-gray;

					&:last-child {
						border-bottom: none;
					}

					a {
						color: $black;
						padding: 15px;
						display: block;
						background: $silver;

						&:hover {
								background: $blue;
								color: $white;
						}

						&.active {
							background: $blue;
							color: $white;
						}
					}
				}
			}
		}
	}
}